
Junior/2019/all_data/__MACOSX/all_data/j3/._j3.02.out
Junior/2019/all_data/all_data/j1/j1.01.in
Junior/2019/all_data/all_data/j1/j1.01.out
Junior/2019/all_data/all_data/j1/j1.02.in
Junior/2019/all_data/all_data/j1/j1.02.out
Junior/2019/all_data/all_data/j1/j1.03.in
Junior/2019/all_data/all_data/j1/j1.03.out
Junior/2019/all_data/all_data/j1/j1.04.in
Junior/2019/all_data/all_data/j1/j1.04.out
Junior/2019/all_data/all_data/j1/j1.05.in
Junior/2019/all_data/all_data/j1/j1.05.out
Junior/2019/all_data/all_data/j1/j1.06.in
Junior/2019/all_data/all_data/j1/j1.06.out
Junior/2019/all_data/all_data/j1/j1.07.in
Junior/2019/all_data/all_data/j1/j1.07.out
Junior/2019/all_data/all_data/j1/j1.08.in
Junior/2019/all_data/all_data/j1/j1.08.out
Junior/2019/all_data/all_data/j1/j1.09.in
Junior/2019/all_data/all_data/j1/j1.09.out
Junior/2019/all_data/all_data/j1/j1.10.in
Junior/2019/all_data/all_data/j1/j1.10.out
Junior/2019/all_data/all_data/j1/j1.11.in
Junior/2019/all_data/all_data/j1/j1.11.out
Junior/2019/all_data/all_data/j1/j1.12.in
Junior/2019/all_data/all_data/j1/j1.12.out
Junior/2019/all_data/all_data/j1/j1.sample1.in
Junior/2019/all_data/all_data/j1/j1.sample1.out
Junior/2019/all_data/all_data/j1/j1.sample2.in
Junior/2019/all_data/all_data/j1/j1.sample2.out
Junior/2019/all_data/all_data/j2/j2.01.in
Junior/2019/all_data/all_data/j2/j2.01.out
Junior/2019/all_data/all_data/j2/j2.02.in
Junior/2019/all_data/all_data/j2/j2.02.out
Junior/2019/all_data/all_data/j2/j2.03.in
Junior/2019/all_data/all_data/j2/j2.03.out
Junior/2019/all_data/all_data/j2/j2.04.in
Junior/2019/all_data/all_data/j2/j2.04.out
Junior/2019/all_data/all_data/j2/j2.sample.in
Junior/2019/all_data/all_data/j2/j2.sample.out
Junior/2019/all_data/all_data/j3/j3.01.in
Junior/2019/all_data/all_data/j3/j3.01.out
Junior/2019/all_data/all_data/j3/j3.02.in
Junior/2019/all_data/all_data/j3/j3.02.out
Junior/2019/all_data/all_data/j3/j3.03.in
Junior/2019/all_data/all_data/j3/j3.03.out
Junior/2019/all_data/all_data/j3/j3.04.in
Junior/2019/all_data/all_data/j3/j3.04.out
Junior/2019/all_data/all_data/j3/j3.sample.in
Junior/2019/all_data/all_data/j3/j3.sample.out
Junior/2019/all_data/all_data/j5/j5.01.in
Junior/2019/all_data/all_data/j5/j5.01.out
Junior/2019/all_data/all_data/j5/j5.02.in
Junior/2019/all_data/all_data/j5/j5.02.out
Junior/2019/all_data/all_data/j5/j5.03.in
Junior/2019/all_data/all_data/j5/j5.03.out
Junior/2019/all_data/all_data/j5/j5.04.in
Junior/2019/all_data/all_data/j5/j5.04.out
Junior/2019/all_data/all_data/j5/j5.05.in
Junior/2019/all_data/all_data/j5/j5.05.out
Junior/2019/all_data/all_data/j5/j5.06.in
Junior/2019/all_data/all_data/j5/j5.06.out
Junior/2019/all_data/all_data/j5/j5.07.in
Junior/2019/all_data/all_data/j5/j5.07.out
Junior/2019/all_data/all_data/j5/j5.08.in
Junior/2019/all_data/all_data/j5/j5.08.out
Junior/2019/all_data/all_data/j5/j5.09.in
Junior/2019/all_data/all_data/j5/j5.09.out
Junior/2019/all_data/all_data/j5/j5.10.in
Junior/2019/all_data/all_data/j5/j5.10.out
Junior/2019/all_data/all_data/j5/j5.sample.in
Junior/2019/all_data/all_data/j5/j5.sample.out
Junior/2019/all_data/all_data/s1_j4/j4.01.in
Junior/2019/all_data/all_data/s1_j4/j4.01.out
Junior/2019/all_data/all_data/s1_j4/j4.02.in
Junior/2019/all_data/all_data/s1_j4/j4.02.out
Junior/2019/all_data/all_data/s1_j4/j4.05.in
Junior/2019/all_data/all_data/s1_j4/j4.05.out
Junior/2019/all_data/all_data/s1_j4/j4.06.in
Junior/2019/all_data/all_data/s1_j4/j4.06.out
Junior/2019/all_data/all_data/s1_j4/j4.07.in
Junior/2019/all_data/all_data/s1_j4/j4.07.out
Junior/2019/all_data/all_data/s1_j4/j4.08.in
Junior/2019/all_data/all_data/s1_j4/j4.08.out
Junior/2019/all_data/all_data/s1_j4/j4.09.in
Junior/2019/all_data/all_data/s1_j4/j4.09.out
Junior/2019/all_data/all_data/s1_j4/j4.10.in
Junior/2019/all_data/all_data/s1_j4/j4.10.out
Junior/2019/all_data/all_data/s1_j4/j4.11.in
Junior/2019/all_data/all_data/s1_j4/j4.11.out
Junior/2019/all_data/all_data/s1_j4/j4.12.in
Junior/2019/all_data/all_data/s1_j4/j4.12.out
Junior/2019/all_data/all_data/s1_j4/j4.13.in
Junior/2019/all_data/all_data/s1_j4/j4.13.out
Junior/2019/all_data/all_data/s1_j4/j4.14.in
Junior/2019/all_data/all_data/s1_j4/j4.14.out
Junior/2019/all_data/all_data/s1_j4/j4.15.in
Junior/2019/all_data/all_data/s1_j4/j4.15.out
Junior/2019/all_data/all_data/s1_j4/j4.16.in
Junior/2019/all_data/all_data/s1_j4/j4.16.out
Junior/2019/all_data/all_data/s1_j4/j4.17.in
Junior/2019/all_data/all_data/s1_j4/j4.17.out
Junior/2019/all_data/all_data/s1_j4/j4.18.in
Junior/2019/all_data/all_data/s1_j4/j4.18.out
Junior/2019/all_data/all_data/s1_j4/j4.19.in
Junior/2019/all_data/all_data/s1_j4/j4.19.out
Junior/2019/all_data/all_data/s1_j4/j4.sample01.in
Junior/2019/all_data/all_data/s1_j4/j4.sample01.out
Junior/2019/all_data.zip
Junior/2019/all_data/all_data/s1_j4/j4.sample02.in
Junior/2019/all_data/all_data/s1_j4/j4.sample02.out
Junior/2017/WINDOWS/junior_data/j1/j1.01.in
Junior/2017/WINDOWS/junior_data/j1/j1.01.out
Junior/2017/WINDOWS/junior_data/j1/j1.02.in
Junior/2017/WINDOWS/junior_data/j1/j1.02.out
Junior/2017/WINDOWS/junior_data/j1/j1.03.in
Junior/2017/WINDOWS/junior_data/j1/j1.03.out
Junior/2017/WINDOWS/junior_data/j1/j1.04.in
Junior/2017/WINDOWS/junior_data/j1/j1.04.out
Junior/2017/WINDOWS/junior_data/j1/j1.05.in
Junior/2017/WINDOWS/junior_data/j1/j1.05.out
Junior/2017/WINDOWS/junior_data/j1/j1.06.in
Junior/2017/WINDOWS/junior_data/j1/j1.06.out
Junior/2017/WINDOWS/junior_data/j1/j1.07.in
Junior/2017/WINDOWS/junior_data/j1/j1.07.out
Junior/2017/WINDOWS/junior_data/j1/j1.08.in
Junior/2017/WINDOWS/junior_data/j1/j1.08.out
Junior/2017/WINDOWS/junior_data/j1/j1.09.in
Junior/2017/WINDOWS/junior_data/j1/j1.09.out
Junior/2017/WINDOWS/junior_data/j1/j1.10.in
Junior/2017/WINDOWS/junior_data/j1/j1.10.out
Junior/2017/WINDOWS/junior_data/j1/j1.11.in
Junior/2017/WINDOWS/junior_data/j1/j1.11.out
Junior/2017/WINDOWS/junior_data/j1/j1.12.in
Junior/2017/WINDOWS/junior_data/j1/j1.12.out
Junior/2017/WINDOWS/junior_data/j1/j1.13.in
Junior/2017/WINDOWS/junior_data/j1/j1.13.out
Junior/2017/WINDOWS/junior_data/j1/j1.14.in
Junior/2017/WINDOWS/junior_data/j1/j1.14.out
Junior/2017/WINDOWS/junior_data/j1/j1.15.in
Junior/2017/WINDOWS/junior_data/j1/j1.15.out
Junior/2017/WINDOWS/junior_data/j1/j1sample.01.in
Junior/2017/WINDOWS/junior_data/j1/j1sample.01.out
Junior/2017/WINDOWS/junior_data/j1/j1sample.02.in
Junior/2017/WINDOWS/junior_data/j1/j1sample.02.out
Junior/2017/WINDOWS/junior_data/j2/j2.01.in
Junior/2017/WINDOWS/junior_data/j2/j2.01.out
Junior/2017/WINDOWS/junior_data/j2/j2.02.in
Junior/2017/WINDOWS/junior_data/j2/j2.02.out
Junior/2017/WINDOWS/junior_data/j2/j2.03.in
Junior/2017/WINDOWS/junior_data/j2/j2.03.out
Junior/2017/WINDOWS/junior_data/j2/j2.04.in
Junior/2017/WINDOWS/junior_data/j2/j2.04.out
Junior/2017/WINDOWS/junior_data/j2/j2.05.in
Junior/2017/WINDOWS/junior_data/j2/j2.05.out
Junior/2017/WINDOWS/junior_data/j2/j2.06.in
Junior/2017/WINDOWS/junior_data/j2/j2.06.out
Junior/2017/WINDOWS/junior_data/j2/j2.07.in
Junior/2017/WINDOWS/junior_data/j2/j2.07.out
Junior/2017/WINDOWS/junior_data/j2/j2.08.in
Junior/2017/WINDOWS/junior_data/j2/j2.08.out
Junior/2017/WINDOWS/junior_data/j2/j2.09.in
Junior/2017/WINDOWS/junior_data/j2/j2.09.out
Junior/2017/WINDOWS/junior_data/j2/j2.10.in
Junior/2017/WINDOWS/junior_data/j2/j2.10.out
Junior/2017/WINDOWS/junior_data/j2/j2.11.in
Junior/2017/WINDOWS/junior_data/j2/j2.11.out
Junior/2017/WINDOWS/junior_data/j2/j2.12.in
Junior/2017/WINDOWS/junior_data/j2/j2.12.out
Junior/2017/WINDOWS/junior_data/j2/j2.13.in
Junior/2017/WINDOWS/junior_data/j2/j2.13.out
Junior/2017/WINDOWS/junior_data/j2/j2.14.in
Junior/2017/WINDOWS/junior_data/j2/j2.14.out
Junior/2017/WINDOWS/junior_data/j2/j2.15.in
Junior/2017/WINDOWS/junior_data/j2/j2.15.out
Junior/2017/WINDOWS/junior_data/j2/j2_sample.01.in
Junior/2017/WINDOWS/junior_data/j2/j2_sample.01.out
Junior/2017/WINDOWS/junior_data/j3/j3.01.in
Junior/2017/WINDOWS/junior_data/j3/j3.01.out
Junior/2017/WINDOWS/junior_data/j3/j3.02.in
Junior/2017/WINDOWS/junior_data/j3/j3.02.out
Junior/2017/WINDOWS/junior_data/j3/j3.03.in
Junior/2017/WINDOWS/junior_data/j3/j3.03.out
Junior/2017/WINDOWS/junior_data/j3/j3.04.in
Junior/2017/WINDOWS/junior_data/j3/j3.04.out
Junior/2017/WINDOWS/junior_data/j3/j3.05.in
Junior/2017/WINDOWS/junior_data/j3/j3.05.out
Junior/2017/WINDOWS/junior_data/j3/j3.06.in
Junior/2017/WINDOWS/junior_data/j3/j3.06.out
Junior/2017/WINDOWS/junior_data/j3/j3.07.in
Junior/2017/WINDOWS/junior_data/j3/j3.07.out
Junior/2017/WINDOWS/junior_data/j3/j3.08.in
Junior/2017/WINDOWS/junior_data/j3/j3.08.out
Junior/2017/WINDOWS/junior_data/j3/j3.09.in
Junior/2017/WINDOWS/junior_data/j3/j3.09.out
Junior/2017/WINDOWS/junior_data/j3/j3.10.in
Junior/2017/WINDOWS/junior_data/j3/j3.10.out
Junior/2017/WINDOWS/junior_data/j3/j3.11.in
Junior/2017/WINDOWS/junior_data/j3/j3.11.out
Junior/2017/WINDOWS/junior_data/j3/j3.12.in
Junior/2017/WINDOWS/junior_data/j3/j3.12.out
Junior/2017/WINDOWS/junior_data/j3/j3.13.in
Junior/2017/WINDOWS/junior_data/j3/j3.13.out
Junior/2017/WINDOWS/junior_data/j3/j3.14.in
Junior/2017/WINDOWS/junior_data/j3/j3.14.out
Junior/2017/WINDOWS/junior_data/j3/j3.15.in
Junior/2017/WINDOWS/junior_data/j3/j3.15.out
Junior/2017/WINDOWS/junior_data/j3/j3_sample.01.in
Junior/2017/WINDOWS/junior_data/j3/j3_sample.01.out
Junior/2017/WINDOWS/junior_data/j3/j3_sample.02.in
Junior/2017/WINDOWS/junior_data/j3/j3_sample.02.out
Junior/2017/WINDOWS/junior_data/j4/j4.01.in
Junior/2017/WINDOWS/junior_data/j4/j4.01.out
Junior/2017/WINDOWS/junior_data/j4/j4.02.in
Junior/2017/WINDOWS/junior_data/j4/j4.02.out
Junior/2017/WINDOWS/junior_data/j4/j4.03.in
Junior/2017/WINDOWS/junior_data/j4/j4.03.out
Junior/2017/WINDOWS/junior_data/j4/j4.04.in
Junior/2017/WINDOWS/junior_data/j4/j4.04.out
Junior/2017/WINDOWS/junior_data/j4/j4.05.in
Junior/2017/WINDOWS/junior_data/j4/j4.05.out
Junior/2017/WINDOWS/junior_data/j4/j4.06.in
Junior/2017/WINDOWS/junior_data/j4/j4.06.out
Junior/2017/WINDOWS/junior_data/j4/j4.07.in
Junior/2017/WINDOWS/junior_data/j4/j4.07.out
Junior/2017/WINDOWS/junior_data/j4/j4.08.in
Junior/2017/WINDOWS/junior_data/j4/j4.08.out
Junior/2017/WINDOWS/junior_data/j4/j4.09.in
Junior/2017/WINDOWS/junior_data/j4/j4.09.out
Junior/2017/WINDOWS/junior_data/j4/j4.10.in
Junior/2017/WINDOWS/junior_data/j4/j4.10.out
Junior/2017/WINDOWS/junior_data/j4/j4.11.in
Junior/2017/WINDOWS/junior_data/j4/j4.11.out
Junior/2017/WINDOWS/junior_data/j4/j4.12.in
Junior/2017/WINDOWS/junior_data/j4/j4.12.out
Junior/2017/WINDOWS/junior_data/j4/j4.13.in
Junior/2017/WINDOWS/junior_data/j4/j4.13.out
Junior/2017/WINDOWS/junior_data/j4/j4.14.in
Junior/2017/WINDOWS/junior_data/j4/j4.14.out
Junior/2017/WINDOWS/junior_data/j4/j4.15.in
Junior/2017/WINDOWS/junior_data/j4/j4.15.out
Junior/2017/WINDOWS/junior_data/j4/j4_sample.01.in
Junior/2017/WINDOWS/junior_data/j4/j4_sample.01.out
Junior/2017/WINDOWS/junior_data/j4/j4_sample.02.in
Junior/2017/WINDOWS/junior_data/j4/j4_sample.02.out
Junior/2017/WINDOWS/junior_data/j5/j5.01.in
Junior/2017/WINDOWS/junior_data/j5/j5.01.out
Junior/2017/WINDOWS/junior_data/j5/j5.02.in
Junior/2017/WINDOWS/junior_data/j5/j5.02.out
Junior/2017/WINDOWS/junior_data/j5/j5.03.in
Junior/2017/WINDOWS/junior_data/j5/j5.03.out
Junior/2017/WINDOWS/junior_data/j5/j5.04.in
Junior/2017/WINDOWS/junior_data/j5/j5.04.out
Junior/2017/WINDOWS/junior_data/j5/j5.05.in
Junior/2017/WINDOWS/junior_data/j5/j5.05.out
Junior/2017/WINDOWS/junior_data/j5/j5.06.in
Junior/2017/WINDOWS/junior_data/j5/j5.06.out
Junior/2017/WINDOWS/junior_data/j5/j5.07.in
Junior/2017/WINDOWS/junior_data/j5/j5.07.out
Junior/2017/WINDOWS/junior_data/j5/j5.08.in
Junior/2017/WINDOWS/junior_data/j5/j5.08.out
Junior/2017/WINDOWS/junior_data/j5/j5.09.in
Junior/2017/WINDOWS/junior_data/j5/j5.09.out
Junior/2017/WINDOWS/junior_data/j5/j5.10.in
Junior/2017/WINDOWS/junior_data/j5/j5.10.out
Junior/2017/WINDOWS/junior_data/j5/j5.11.in
Junior/2017/WINDOWS/junior_data/j5/j5.11.out
Junior/2017/WINDOWS/junior_data/j5/j5.12.in
Junior/2017/WINDOWS/junior_data/j5/j5.12.out
Junior/2017/WINDOWS/junior_data/j5/j5.13.in
Junior/2017/WINDOWS/junior_data/j5/j5.13.out
Junior/2017/WINDOWS/junior_data/j5/j5.14.in
Junior/2017/WINDOWS/junior_data/j5/j5.14.out
Junior/2017/WINDOWS/junior_data/j5/j5.15.in
Junior/2017/WINDOWS/junior_data/j5/j5.15.out
Junior/2017/WINDOWS/junior_data/j5/j5.16.in
Junior/2017/WINDOWS/junior_data/j5/j5.16.out
Junior/2017/WINDOWS/junior_data/j5/j5.17.in
Junior/2017/WINDOWS/junior_data/j5/j5.17.out
Junior/2017/WINDOWS/junior_data/j5/j5.18.in
Junior/2017/WINDOWS/junior_data/j5/j5.18.out
Junior/2017/WINDOWS/junior_data/j5/j5.19.in
Junior/2017/WINDOWS/junior_data/j5/j5.19.out
Junior/2017/WINDOWS/junior_data/j5/j5.20.in
Junior/2017/WINDOWS/junior_data/j5/j5.20.out
Junior/2017/WINDOWS/junior_data/j5/j5.21.in
Junior/2017/WINDOWS/junior_data/j5/j5.21.out
Junior/2017/WINDOWS/junior_data/j5/j5.22.in
Junior/2017/WINDOWS/junior_data/j5/j5.22.out
Junior/2017/WINDOWS/junior_data/j5/j5.23.in
Junior/2017/WINDOWS/junior_data/j5/j5.23.out
Junior/2017/WINDOWS/junior_data/j5/j5.24.in
Junior/2017/WINDOWS/junior_data/j5/j5.24.out
Junior/2017/WINDOWS/junior_data/j5/j5.25.in
Junior/2017/WINDOWS/junior_data/j5/j5.25.out
Junior/2017/WINDOWS/junior_data/j5/j5.26.in
Junior/2017/WINDOWS/junior_data/j5/j5.26.out
Junior/2017/WINDOWS/junior_data/j5/j5.27.in
Junior/2017/WINDOWS/junior_data/j5/j5.27.out
Junior/2017/WINDOWS/junior_data/j5/j5.28.in
Junior/2017/WINDOWS/junior_data/j5/j5.28.out
Junior/2017/WINDOWS/junior_data/j5/j5_sample.01.in
Junior/2017/WINDOWS/junior_data/j5/j5_sample.01.out
Junior/2017/WINDOWS/junior_data/j5/j5_sample.02.in
Junior/2017/WINDOWS/junior_data/j5/j5_sample.02.out
Junior/2017/WINDOWS/senior_data/s1/s1.01.in
Junior/2017/WINDOWS/senior_data/s1/s1.01.out
Junior/2017/WINDOWS/senior_data/s1/s1.02.in
Junior/2017/WINDOWS/senior_data/s1/s1.02.out
Junior/2017/WINDOWS/senior_data/s1/s1.03.in
Junior/2017/WINDOWS/senior_data/s1/s1.03.out
Junior/2017/WINDOWS/senior_data/s1/s1.04.in
Junior/2017/WINDOWS/senior_data/s1/s1.04.out
Junior/2017/WINDOWS/senior_data/s1/s1.05.in
Junior/2017/WINDOWS/senior_data/s1/s1.05.out
Junior/2017/WINDOWS/senior_data/s1/s1.06.in
Junior/2017/WINDOWS/senior_data/s1/s1.06.out
Junior/2017/WINDOWS/senior_data/s1/s1.07.in
Junior/2017/WINDOWS/senior_data/s1/s1.07.out
Junior/2017/WINDOWS/senior_data/s1/s1.08.in
Junior/2017/WINDOWS/senior_data/s1/s1.08.out
Junior/2017/WINDOWS/senior_data/s1/s1.09.in
Junior/2017/WINDOWS/senior_data/s1/s1.09.out
Junior/2017/WINDOWS/senior_data/s1/s1.10.in
Junior/2017/WINDOWS/senior_data/s1/s1.10.out
Junior/2017/WINDOWS/senior_data/s1/s1.11.in
Junior/2017/WINDOWS/senior_data/s1/s1.11.out
Junior/2017/WINDOWS/senior_data/s1/s1.12.in
Junior/2017/WINDOWS/senior_data/s1/s1.12.out
Junior/2017/WINDOWS/senior_data/s1/s1.13.in
Junior/2017/WINDOWS/senior_data/s1/s1.13.out
Junior/2017/WINDOWS/senior_data/s1/s1.14.in
Junior/2017/WINDOWS/senior_data/s1/s1.14.out
Junior/2017/WINDOWS/senior_data/s1/s1.15.in
Junior/2017/WINDOWS/senior_data/s1/s1.15.out
Junior/2017/WINDOWS/senior_data/s1/s1.sample.01.in
Junior/2017/WINDOWS/senior_data/s1/s1.sample.01.out
Junior/2017/WINDOWS/senior_data/s1/s1.sample.02.in
Junior/2017/WINDOWS/senior_data/s1/s1.sample.02.out
Junior/2017/WINDOWS/senior_data/s1/s1.sample.03.in
Junior/2017/WINDOWS/senior_data/s1/s1.sample.03.out
Junior/2017/WINDOWS/senior_data/s2/s2.01.in
Junior/2017/WINDOWS/senior_data/s2/s2.01.out
Junior/2017/WINDOWS/senior_data/s2/s2.02.in
Junior/2017/WINDOWS/senior_data/s2/s2.02.out
Junior/2017/WINDOWS/senior_data/s2/s2.03.in
Junior/2017/WINDOWS/senior_data/s2/s2.03.out
Junior/2017/WINDOWS/senior_data/s2/s2.04.in
Junior/2017/WINDOWS/senior_data/s2/s2.04.out
Junior/2017/WINDOWS/senior_data/s2/s2.05.in
Junior/2017/WINDOWS/senior_data/s2/s2.05.out
Junior/2017/WINDOWS/senior_data/s2/s2.06.in
Junior/2017/WINDOWS/senior_data/s2/s2.06.out
Junior/2017/WINDOWS/senior_data/s2/s2.07.in
Junior/2017/WINDOWS/senior_data/s2/s2.07.out
Junior/2017/WINDOWS/senior_data/s2/s2.08.in
Junior/2017/WINDOWS/senior_data/s2/s2.08.out
Junior/2017/WINDOWS/senior_data/s2/s2.09.in
Junior/2017/WINDOWS/senior_data/s2/s2.09.out
Junior/2017/WINDOWS/senior_data/s2/s2.10.in
Junior/2017/WINDOWS/senior_data/s2/s2.10.out
Junior/2017/WINDOWS/senior_data/s2/s2.11.in
Junior/2017/WINDOWS/senior_data/s2/s2.11.out
Junior/2017/WINDOWS/senior_data/s2/s2.12.in
Junior/2017/WINDOWS/senior_data/s2/s2.12.out
Junior/2017/WINDOWS/senior_data/s2/s2.13.in
Junior/2017/WINDOWS/senior_data/s2/s2.13.out
Junior/2017/WINDOWS/senior_data/s2/s2.14.in
Junior/2017/WINDOWS/senior_data/s2/s2.14.out
Junior/2017/WINDOWS/senior_data/s2/s2.15.in
Junior/2017/WINDOWS/senior_data/s2/s2.15.out
Junior/2017/WINDOWS/senior_data/s2/s2.sample.01.in
Junior/2017/WINDOWS/senior_data/s2/s2.sample.01.out
Junior/2017/WINDOWS/senior_data/s3/s3.01.in
Junior/2017/WINDOWS/senior_data/s3/s3.01.out
Junior/2017/WINDOWS/senior_data/s3/s3.02.in
Junior/2017/WINDOWS/senior_data/s3/s3.02.out
Junior/2017/WINDOWS/senior_data/s3/s3.03.in
Junior/2017/WINDOWS/senior_data/s3/s3.03.out
Junior/2017/WINDOWS/senior_data/s3/s3.04.in
Junior/2017/WINDOWS/senior_data/s3/s3.04.out
Junior/2017/WINDOWS/senior_data/s3/s3.05.in
Junior/2017/WINDOWS/senior_data/s3/s3.05.out
Junior/2017/WINDOWS/senior_data/s3/s3.06.in
Junior/2017/WINDOWS/senior_data/s3/s3.06.out
Junior/2017/WINDOWS/senior_data/s3/s3.07.in
Junior/2017/WINDOWS/senior_data/s3/s3.07.out
Junior/2017/WINDOWS/senior_data/s3/s3.08.in
Junior/2017/WINDOWS/senior_data/s3/s3.08.out
Junior/2017/WINDOWS/senior_data/s3/s3.09.in
Junior/2017/WINDOWS/senior_data/s3/s3.09.out
Junior/2017/WINDOWS/senior_data/s3/s3.10.in
Junior/2017/WINDOWS/senior_data/s3/s3.10.out
Junior/2017/WINDOWS/senior_data/s3/s3.11.in
Junior/2017/WINDOWS/senior_data/s3/s3.11.out
Junior/2017/WINDOWS/senior_data/s3/s3.12.in
Junior/2017/WINDOWS/senior_data/s3/s3.12.out
Junior/2017/WINDOWS/senior_data/s3/s3.13.in
Junior/2017/WINDOWS/senior_data/s3/s3.13.out
Junior/2017/WINDOWS/senior_data/s3/s3.14.in
Junior/2017/WINDOWS/senior_data/s3/s3.14.out
Junior/2017/WINDOWS/senior_data/s3/s3.15.in
Junior/2017/WINDOWS/senior_data/s3/s3.15.out
Junior/2017/WINDOWS/senior_data/s3/s3.16.in
Junior/2017/WINDOWS/senior_data/s3/s3.16.out
Junior/2017/WINDOWS/senior_data/s3/s3.17.in
Junior/2017/WINDOWS/senior_data/s3/s3.17.out
Junior/2017/WINDOWS/senior_data/s3/s3.18.in
Junior/2017/WINDOWS/senior_data/s3/s3.18.out
Junior/2017/WINDOWS/senior_data/s3/s3.19.in
Junior/2017/WINDOWS/senior_data/s3/s3.19.out
Junior/2017/WINDOWS/senior_data/s3/s3.20.in
Junior/2017/WINDOWS/senior_data/s3/s3.20.out
Junior/2017/WINDOWS/senior_data/s3/s3.21.in
Junior/2017/WINDOWS/senior_data/s3/s3.21.out
Junior/2017/WINDOWS/senior_data/s3/s3.22.in
Junior/2017/WINDOWS/senior_data/s3/s3.22.out
Junior/2017/WINDOWS/senior_data/s3/s3.23.in
Junior/2017/WINDOWS/senior_data/s3/s3.23.out
Junior/2017/WINDOWS/senior_data/s3/s3.24.in
Junior/2017/WINDOWS/senior_data/s3/s3.24.out
Junior/2017/WINDOWS/senior_data/s3/s3.25.in
Junior/2017/WINDOWS/senior_data/s3/s3.25.out
Junior/2017/WINDOWS/senior_data/s3/s3.26.in
Junior/2017/WINDOWS/senior_data/s3/s3.26.out
Junior/2017/WINDOWS/senior_data/s3/s3.27.in
Junior/2017/WINDOWS/senior_data/s3/s3.27.out
Junior/2017/WINDOWS/senior_data/s3/s3.28.in
Junior/2017/WINDOWS/senior_data/s3/s3.28.out
Junior/2017/WINDOWS/senior_data/s3/s3_sample.01.in
Junior/2017/WINDOWS/senior_data/s3/s3_sample.01.out
Junior/2017/WINDOWS/senior_data/s3/s3_sample.02.in
Junior/2017/WINDOWS/senior_data/s3/s3_sample.02.out
Junior/2017/WINDOWS/senior_data/s4/s4.01.in
Junior/2017/WINDOWS/senior_data/s4/s4.01.out
Junior/2017/WINDOWS/senior_data/s4/s4.02.in
Junior/2017/WINDOWS/senior_data/s4/s4.02.out
Junior/2017/WINDOWS/senior_data/s4/s4.03.in
Junior/2017/WINDOWS/senior_data/s4/s4.03.out
Junior/2017/WINDOWS/senior_data/s4/s4.04.in
Junior/2017/WINDOWS/senior_data/s4/s4.04.out
Junior/2017/WINDOWS/senior_data/s4/s4.05.in
Junior/2017/WINDOWS/senior_data/s4/s4.05.out
Junior/2017/WINDOWS/senior_data/s4/s4.06.in
Junior/2017/WINDOWS/senior_data/s4/s4.06.out
Junior/2017/WINDOWS/senior_data/s4/s4.07.in
Junior/2017/WINDOWS/senior_data/s4/s4.07.out
Junior/2017/WINDOWS/senior_data/s4/s4.08.in
Junior/2017/WINDOWS/senior_data/s4/s4.08.out
Junior/2017/WINDOWS/senior_data/s4/s4.09.in
Junior/2017/WINDOWS/senior_data/s4/s4.09.out
Junior/2017/WINDOWS/senior_data/s4/s4.10.in
Junior/2017/WINDOWS/senior_data/s4/s4.10.out
Junior/2017/WINDOWS/senior_data/s4/s4.11.in
Junior/2017/WINDOWS/senior_data/s4/s4.11.out
Junior/2017/WINDOWS/senior_data/s4/s4.12.in
Junior/2017/WINDOWS/senior_data/s4/s4.12.out
Junior/2017/WINDOWS/senior_data/s4/s4.13.in
Junior/2017/WINDOWS/senior_data/s4/s4.13.out
Junior/2017/WINDOWS/senior_data/s4/s4.14.in
Junior/2017/WINDOWS/senior_data/s4/s4.14.out
Junior/2017/WINDOWS/senior_data/s4/s4.15.in
Junior/2017/WINDOWS/senior_data/s4/s4.15.out
Junior/2017/WINDOWS/senior_data/s4/s4.16.in
Junior/2017/WINDOWS/senior_data/s4/s4.16.out
Junior/2017/WINDOWS/senior_data/s4/s4.17.in
Junior/2017/WINDOWS/senior_data/s4/s4.17.out
Junior/2017/WINDOWS/senior_data/s4/s4.18.in
Junior/2017/WINDOWS/senior_data/s4/s4.18.out
Junior/2017/WINDOWS/senior_data/s4/s4.19.in
Junior/2017/WINDOWS/senior_data/s4/s4.19.out
Junior/2017/WINDOWS/senior_data/s4/s4.20.in
Junior/2017/WINDOWS/senior_data/s4/s4.20.out
Junior/2017/WINDOWS/senior_data/s4/s4.21.in
Junior/2017/WINDOWS/senior_data/s4/s4.21.out
Junior/2017/WINDOWS/senior_data/s4/s4.22.in
Junior/2017/WINDOWS/senior_data/s4/s4.22.out
Junior/2017/WINDOWS/senior_data/s4/s4.23.in
Junior/2017/WINDOWS/senior_data/s4/s4.23.out
Junior/2017/WINDOWS/senior_data/s4/s4.24.in
Junior/2017/WINDOWS/senior_data/s4/s4.24.out
Junior/2017/WINDOWS/senior_data/s4/s4.25.in
Junior/2017/WINDOWS/senior_data/s4/s4.25.out
Junior/2017/WINDOWS/senior_data/s4/s4.26.in
Junior/2017/WINDOWS/senior_data/s4/s4.26.out
Junior/2017/WINDOWS/senior_data/s4/s4.27.in
Junior/2017/WINDOWS/senior_data/s4/s4.27.out
Junior/2017/WINDOWS/senior_data/s4/s4.28.in
Junior/2017/WINDOWS/senior_data/s4/s4.28.out
Junior/2017/WINDOWS/senior_data/s4/s4.29.in
Junior/2017/WINDOWS/senior_data/s4/s4.29.out
Junior/2017/WINDOWS/senior_data/s4/s4.30.in
Junior/2017/WINDOWS/senior_data/s4/s4.30.out
Junior/2017/WINDOWS/senior_data/s4/s4.31.in
Junior/2017/WINDOWS/senior_data/s4/s4.31.out
Junior/2017/WINDOWS/senior_data/s4/s4.32.in
Junior/2017/WINDOWS/senior_data/s4/s4.32.out
Junior/2017/WINDOWS/senior_data/s4/s4.33.in
Junior/2017/WINDOWS/senior_data/s4/s4.33.out
Junior/2017/WINDOWS/senior_data/s4/s4.34.in
Junior/2017/WINDOWS/senior_data/s4/s4.34.out
Junior/2017/WINDOWS/senior_data/s4/s4.35.in
Junior/2017/WINDOWS/senior_data/s4/s4.35.out
Junior/2017/WINDOWS/senior_data/s4/s4.36.in
Junior/2017/WINDOWS/senior_data/s4/s4.36.out
Junior/2017/WINDOWS/senior_data/s4/s4.37.in
Junior/2017/WINDOWS/senior_data/s4/s4.37.out
Junior/2017/WINDOWS/senior_data/s4/s4.38.in
Junior/2017/WINDOWS/senior_data/s4/s4.38.out
Junior/2017/WINDOWS/senior_data/s4/s4.39.in
Junior/2017/WINDOWS/senior_data/s4/s4.39.out
Junior/2017/WINDOWS/senior_data/s4/s4.40.in
Junior/2017/WINDOWS/senior_data/s4/s4.40.out
Junior/2017/WINDOWS/senior_data/s4/s4.41.in
Junior/2017/WINDOWS/senior_data/s4/s4.41.out
Junior/2017/WINDOWS/senior_data/s4/s4.42.in
Junior/2017/WINDOWS/senior_data/s4/s4.42.out
Junior/2017/WINDOWS/senior_data/s4/s4.43.in
Junior/2017/WINDOWS/senior_data/s4/s4.43.out
Junior/2017/WINDOWS/senior_data/s4/s4.44.in
Junior/2017/WINDOWS/senior_data/s4/s4.44.out
Junior/2017/WINDOWS/senior_data/s4/s4.45.in
Junior/2017/WINDOWS/senior_data/s4/s4.45.out
Junior/2017/WINDOWS/senior_data/s4/s4.46.in
Junior/2017/WINDOWS/senior_data/s4/s4.46.out
Junior/2017/WINDOWS/senior_data/s4/s4.47.in
Junior/2017/WINDOWS/senior_data/s4/s4.47.out
Junior/2017/WINDOWS/senior_data/s4/s4.48.in
Junior/2017/WINDOWS/senior_data/s4/s4.48.out
Junior/2017/WINDOWS/senior_data/s4/s4.49.in
Junior/2017/WINDOWS/senior_data/s4/s4.49.out
Junior/2017/WINDOWS/senior_data/s4/s4.50.in
Junior/2017/WINDOWS/senior_data/s4/s4.50.out
Junior/2017/WINDOWS/senior_data/s4/s4.sample.01.in
Junior/2017/WINDOWS/senior_data/s4/s4.sample.01.out
Junior/2017/WINDOWS/senior_data/s4/s4.sample.02.in
Junior/2017/WINDOWS/senior_data/s4/s4.sample.02.out
Junior/2017/WINDOWS/senior_data/s4/s4.sample.03.in
Junior/2017/WINDOWS/senior_data/s4/s4.sample.03.out
Junior/2017/WINDOWS/senior_data/s5/s5.156.in
Junior/2017/WINDOWS/senior_data/s5/s5.156.out
Junior/2017/WINDOWS/senior_data/s5/s5.157.in
Junior/2017/WINDOWS/senior_data/s5/s5.157.out
Junior/2017/WINDOWS/senior_data/s5/s5.158.in
Junior/2017/WINDOWS/senior_data/s5/s5.158.out
Junior/2017/WINDOWS/senior_data/s5/s5.159.in
Junior/2017/WINDOWS/senior_data/s5/s5.159.out
Junior/2017/WINDOWS/senior_data/s5/s5.160.in
Junior/2017/WINDOWS/senior_data/s5/s5.160.out
Junior/2017/WINDOWS/senior_data/s5/s5.268.in
Junior/2017/WINDOWS/senior_data/s5/s5.268.out
Junior/2017/WINDOWS/senior_data/s5/s5.269.in
Junior/2017/WINDOWS/senior_data/s5/s5.269.out
Junior/2017/WINDOWS/senior_data/s5/s5.270.in
Junior/2017/WINDOWS/senior_data/s5/s5.270.out
Junior/2017/WINDOWS/senior_data/s5/s5.271.in
Junior/2017/WINDOWS/senior_data/s5/s5.271.out
Junior/2017/WINDOWS/senior_data/s5/s5.272.in
Junior/2017/WINDOWS/senior_data/s5/s5.272.out
Junior/2017/WINDOWS/senior_data/s5/s5.364.in
Junior/2017/WINDOWS/senior_data/s5/s5.364.out
Junior/2017/WINDOWS/senior_data/s5/s5.365.in
Junior/2017/WINDOWS/senior_data/s5/s5.365.out
Junior/2017/WINDOWS/senior_data/s5/s5.366.in
Junior/2017/WINDOWS/senior_data/s5/s5.366.out
Junior/2017/WINDOWS/senior_data/s5/s5.367.in
Junior/2017/WINDOWS/senior_data/s5/s5.367.out
Junior/2017/WINDOWS/senior_data/s5/s5.368.in
Junior/2017/WINDOWS/senior_data/s5/s5.368.out
Junior/2017/WINDOWS/senior_data/s5/s5.369.in
Junior/2017/WINDOWS/senior_data/s5/s5.369.out
Junior/2017/WINDOWS/senior_data/s5/s5.370.in
Junior/2017/WINDOWS/senior_data/s5/s5.370.out
Junior/2017/WINDOWS/senior_data/s5/s5.371.in
Junior/2017/WINDOWS/senior_data/s5/s5.371.out
Junior/2017/WINDOWS/senior_data/s5/s5.372.in
Junior/2017/WINDOWS/senior_data/s5/s5.372.out
Junior/2017/WINDOWS/senior_data/s5/s5.373.in
Junior/2017/WINDOWS/senior_data/s5/s5.373.out
Junior/2017/WINDOWS/senior_data/s5/s5.399.in
Junior/2017/WINDOWS/senior_data/s5/s5.399.out
Junior/2017/WINDOWS/senior_data/s5/s5.400.in
Junior/2017/WINDOWS/senior_data/s5/s5.400.out
Junior/2017/WINDOWS/senior_data/s5/s5.401.in
Junior/2017/WINDOWS/senior_data/s5/s5.401.out
Junior/2017/WINDOWS/senior_data/s5/s5.402.in
Junior/2017/WINDOWS/senior_data/s5/s5.402.out
Junior/2017/WINDOWS/senior_data/s5/s5.403.in
Junior/2017/WINDOWS/senior_data/s5/s5.403.out
Junior/2017/WINDOWS/senior_data/s5/s5.429.in
Junior/2017/WINDOWS/senior_data/s5/s5.429.out
Junior/2017/WINDOWS/senior_data/s5/s5.430.in
Junior/2017/WINDOWS/senior_data/s5/s5.430.out
Junior/2017/WINDOWS/senior_data/s5/s5.431.in
Junior/2017/WINDOWS/senior_data/s5/s5.431.out
Junior/2017/WINDOWS/senior_data/s5/s5.432.in
Junior/2017/WINDOWS/senior_data/s5/s5.432.out
Junior/2017/WINDOWS/senior_data/s5/s5.433.in
Junior/2017/WINDOWS/senior_data/s5/s5.433.out
Junior/2017/WINDOWS/senior_data/s5/s5.454.in
Junior/2017/WINDOWS/senior_data/s5/s5.454.out
Junior/2017/WINDOWS/senior_data/s5/s5.455.in
Junior/2017/WINDOWS/senior_data/s5/s5.455.out
Junior/2017/WINDOWS/senior_data/s5/s5.456.in
Junior/2017/WINDOWS/senior_data/s5/s5.456.out
Junior/2017/WINDOWS/senior_data/s5/s5.457.in
Junior/2017/WINDOWS/senior_data/s5/s5.457.out
Junior/2017/WINDOWS/senior_data/s5/s5.458.in
Junior/2017/WINDOWS/senior_data/s5/s5.458.out
Junior/2017/WINDOWS/senior_data/s5/s5.459.in
Junior/2017/WINDOWS/senior_data/s5/s5.459.out
Junior/2017/WINDOWS/senior_data/s5/s5.460.in
Junior/2017/WINDOWS/senior_data/s5/s5.460.out
Junior/2017/WINDOWS/senior_data/s5/s5.461.in
Junior/2017/WINDOWS/senior_data/s5/s5.461.out
Junior/2017/WINDOWS/senior_data/s5/s5.462.in
Junior/2017/WINDOWS/senior_data/s5/s5.462.out
Junior/2017/WINDOWS/senior_data/s5/s5.463.in
Junior/2017/WINDOWS/senior_data/s5/s5.463.out
Junior/2017/WINDOWS/senior_data/s5/s5.sample.01.in
Junior/2017/WINDOWS/senior_data/s5/s5.sample.01.out
Junior/2017/WINDOWS/senior_data/s5/s5.sample.02.in
Junior/2017/WINDOWS/senior_data/s5/s5.sample.02.out
