
Junior/2019/all_data/__MACOSX/all_data/j3/._j3.02.out
Junior/2019/all_data/all_data/j1/j1.01.in
Junior/2019/all_data/all_data/j1/j1.01.out
Junior/2019/all_data/all_data/j1/j1.02.in
Junior/2019/all_data/all_data/j1/j1.02.out
Junior/2019/all_data/all_data/j1/j1.03.in
Junior/2019/all_data/all_data/j1/j1.03.out
Junior/2019/all_data/all_data/j1/j1.04.in
Junior/2019/all_data/all_data/j1/j1.04.out
Junior/2019/all_data/all_data/j1/j1.05.in
Junior/2019/all_data/all_data/j1/j1.05.out
Junior/2019/all_data/all_data/j1/j1.06.in
Junior/2019/all_data/all_data/j1/j1.06.out
Junior/2019/all_data/all_data/j1/j1.07.in
Junior/2019/all_data/all_data/j1/j1.07.out
Junior/2019/all_data/all_data/j1/j1.08.in
Junior/2019/all_data/all_data/j1/j1.08.out
Junior/2019/all_data/all_data/j1/j1.09.in
Junior/2019/all_data/all_data/j1/j1.09.out
Junior/2019/all_data/all_data/j1/j1.10.in
Junior/2019/all_data/all_data/j1/j1.10.out
Junior/2019/all_data/all_data/j1/j1.11.in
Junior/2019/all_data/all_data/j1/j1.11.out
Junior/2019/all_data/all_data/j1/j1.12.in
Junior/2019/all_data/all_data/j1/j1.12.out
Junior/2019/all_data/all_data/j1/j1.sample1.in
Junior/2019/all_data/all_data/j1/j1.sample1.out
Junior/2019/all_data/all_data/j1/j1.sample2.in
Junior/2019/all_data/all_data/j1/j1.sample2.out
Junior/2019/all_data/all_data/j2/j2.01.in
Junior/2019/all_data/all_data/j2/j2.01.out
Junior/2019/all_data/all_data/j2/j2.02.in
Junior/2019/all_data/all_data/j2/j2.02.out
Junior/2019/all_data/all_data/j2/j2.03.in
Junior/2019/all_data/all_data/j2/j2.03.out
Junior/2019/all_data/all_data/j2/j2.04.in
Junior/2019/all_data/all_data/j2/j2.04.out
Junior/2019/all_data/all_data/j2/j2.sample.in
Junior/2019/all_data/all_data/j2/j2.sample.out
Junior/2019/all_data/all_data/j3/j3.01.in
Junior/2019/all_data/all_data/j3/j3.01.out
Junior/2019/all_data/all_data/j3/j3.02.in
Junior/2019/all_data/all_data/j3/j3.02.out
Junior/2019/all_data/all_data/j3/j3.03.in
Junior/2019/all_data/all_data/j3/j3.03.out
Junior/2019/all_data/all_data/j3/j3.04.in
Junior/2019/all_data/all_data/j3/j3.04.out
Junior/2019/all_data/all_data/j3/j3.sample.in
Junior/2019/all_data/all_data/j3/j3.sample.out
Junior/2019/all_data/all_data/j5/j5.01.in
Junior/2019/all_data/all_data/j5/j5.01.out
Junior/2019/all_data/all_data/j5/j5.02.in
Junior/2019/all_data/all_data/j5/j5.02.out
Junior/2019/all_data/all_data/j5/j5.03.in
Junior/2019/all_data/all_data/j5/j5.03.out
Junior/2019/all_data/all_data/j5/j5.04.in
Junior/2019/all_data/all_data/j5/j5.04.out
Junior/2019/all_data/all_data/j5/j5.05.in
Junior/2019/all_data/all_data/j5/j5.05.out
Junior/2019/all_data/all_data/j5/j5.06.in
Junior/2019/all_data/all_data/j5/j5.06.out
Junior/2019/all_data/all_data/j5/j5.07.in
Junior/2019/all_data/all_data/j5/j5.07.out
Junior/2019/all_data/all_data/j5/j5.08.in
Junior/2019/all_data/all_data/j5/j5.08.out
Junior/2019/all_data/all_data/j5/j5.09.in
Junior/2019/all_data/all_data/j5/j5.09.out
Junior/2019/all_data/all_data/j5/j5.10.in
Junior/2019/all_data/all_data/j5/j5.10.out
Junior/2019/all_data/all_data/j5/j5.sample.in
Junior/2019/all_data/all_data/j5/j5.sample.out
Junior/2019/all_data/all_data/s1_j4/j4.01.in
Junior/2019/all_data/all_data/s1_j4/j4.01.out
Junior/2019/all_data/all_data/s1_j4/j4.02.in
Junior/2019/all_data/all_data/s1_j4/j4.02.out
Junior/2019/all_data/all_data/s1_j4/j4.05.in
Junior/2019/all_data/all_data/s1_j4/j4.05.out
Junior/2019/all_data/all_data/s1_j4/j4.06.in
Junior/2019/all_data/all_data/s1_j4/j4.06.out
Junior/2019/all_data/all_data/s1_j4/j4.07.in
Junior/2019/all_data/all_data/s1_j4/j4.07.out
Junior/2019/all_data/all_data/s1_j4/j4.08.in
Junior/2019/all_data/all_data/s1_j4/j4.08.out
Junior/2019/all_data/all_data/s1_j4/j4.09.in
Junior/2019/all_data/all_data/s1_j4/j4.09.out
Junior/2019/all_data/all_data/s1_j4/j4.10.in
Junior/2019/all_data/all_data/s1_j4/j4.10.out
Junior/2019/all_data/all_data/s1_j4/j4.11.in
Junior/2019/all_data/all_data/s1_j4/j4.11.out
Junior/2019/all_data/all_data/s1_j4/j4.12.in
Junior/2019/all_data/all_data/s1_j4/j4.12.out
Junior/2019/all_data/all_data/s1_j4/j4.13.in
Junior/2019/all_data/all_data/s1_j4/j4.13.out
Junior/2019/all_data/all_data/s1_j4/j4.14.in
Junior/2019/all_data/all_data/s1_j4/j4.14.out
Junior/2019/all_data/all_data/s1_j4/j4.15.in
Junior/2019/all_data/all_data/s1_j4/j4.15.out
Junior/2019/all_data/all_data/s1_j4/j4.16.in
Junior/2019/all_data/all_data/s1_j4/j4.16.out
Junior/2019/all_data/all_data/s1_j4/j4.17.in
Junior/2019/all_data/all_data/s1_j4/j4.17.out
Junior/2019/all_data/all_data/s1_j4/j4.18.in
Junior/2019/all_data/all_data/s1_j4/j4.18.out
Junior/2019/all_data/all_data/s1_j4/j4.19.in
Junior/2019/all_data/all_data/s1_j4/j4.19.out
Junior/2019/all_data/all_data/s1_j4/j4.sample01.in
Junior/2019/all_data/all_data/s1_j4/j4.sample01.out
Junior/2019/all_data.zip
Junior/2019/all_data/all_data/s1_j4/j4.sample02.in
Junior/2019/all_data/all_data/s1_j4/j4.sample02.out
